APP_NAME="GKKA Samarinda"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://example.com
APP_FORCE_HTTPS=true

SEO_ORGANIZATION_NAME="GKKA Samarinda"
SEO_LEGAL_NAME="GKKA Indonesia Jemaat Samarinda"
SEO_LOGO_PATH=favicon.ico
SEO_PHONE="+62-823-5052-6337"
SEO_EMAIL=gkkaisamarinda@yahoo.com
SEO_PRICE_RANGE=Free
SEO_MAP_URL="https://www.google.com/maps/search/?api=1&query=GKKA+Samarinda"
SEO_SAME_AS=
SEO_ADDRESS_STREET="Jl. Sentosa No.25, Sungai Pinang Dalam"
SEO_ADDRESS_LOCALITY=Samarinda
SEO_ADDRESS_REGION="Kalimantan Timur"
SEO_ADDRESS_POSTAL_CODE=75117
SEO_ADDRESS_COUNTRY=ID
SEO_GEO_LATITUDE=
SEO_GEO_LONGITUDE=

# Cloudflare Turnstile (Captcha)
TURNSTILE_SITE_KEY=0x4AAAAAACgQGT4Z27lbO6Ii
TURNSTILE_SECRET_KEY=0x4AAAAAACgQGd1fDidF8N0L_tPouZDslyA
# Set true if you want captcha enforced while APP_ENV=local
TURNSTILE_ENFORCE_LOCAL=true

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
