@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Inter", "sans-serif";
}

@layer utilities {
    .glass-effect {
        @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-lg;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}